body {
    overflow: hidden;
}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.animated-gradient {
    background: linear-gradient(90deg, #458fff, #0066ff);
    background-size: 300% 300%;
    animation: gradientMove 10s ease infinite;
}

.nq {
    margin-top: 50px;
    position: absolute;
    font-size: 30px;
    color: white;
    pointer-events: none;
}

#question-container {
    position: relative;
    z-index: 10;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nq {
        font-size: 24px;
        margin-top: 30px;
    }

    #question-container {
        padding: 20px;
    }

    .score-box {
        padding: 20px;
    }

    button {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .nq {
        font-size: 20px;
        margin-top: 20px;
    }

    #question-container {
        padding: 15px;
    }

    h1 {
        font-size: 20px;
    }
}

.navbar img {
    margin-left: 16px;
}